data/
__pycache__/
.env
.ipynb_checkpoints/
.idea/

*.jsonl
!deliverables/datasets/future_statements_distilbert_sentiments.jsonl
!deliverables/datasets/future_statements_distilbert.jsonl
!deliverables/datasets/evaluation_data.jsonl
*.pkl
checkpoints-*/
model_checkpoints/

wandb/
artifacts/
*.sqsh
*.log
*.err
*.out